.pageWrapper {
  min-height: 100vh;
}
.contentArea {
  flex-grow: 1;
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 60px;
}
.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 20px;
}
.card-img{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.container {
  padding: 40px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}

.filter{
  margin: 4px 0 4px 0;
}

@media screen and (max-width: 576px) {
  .btn-xs-block {
      display: block;
      width: 100%;
  }
}
.carousel-item>img {
  width: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 300px;
  margin: auto;
}

.editable-img{
  width: auto;
  height: 150px;
  margin: 3px;
  float: right,
}
@media screen and (max-width: 576px) {
  .editable-img{
    height: 100px;
  }
}

.close{  position: absolute;
  top: 3%;
  font-size: 14px;
  padding: 0px 6px 0px 6px;
  right: 3%;
  background-color: $danger;
  color: white;
  border: 1px solid black;
  border-radius: 5px;}

  .navbar{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
  }
